@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">My firsy DotNet App. For Examine click to below link.</p>
    <a href="/todo" class="card-link text-center">Enter the Todo Item</a>
  </div>
</div>